<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class  %>
  <% end %>
</div>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <div class="row">
          <div class="span8">
            <td><%= raw post.title %></td>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <td><%= raw post.content %></td>
            <td><%= raw post.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></td>
            <div class="row">
              <div class="span8">
                <td><%= link_to 'Show', post %></td>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </div>
            </div>
          </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
